.header-1{
    font-size: 40px;
    text-align: center;
    color: #ebebeb;
    font-family: sans-serif;
}
/* body{
    background-color: black;
}
h4{
    padding-left: 10px;
    color: #ebebeb;
    font-family: sans-serif;
    font-size: 18px;
}
.para{
    width: 70%;
}
p{

    color: #ebebeb;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 25px;
}
h3{
    color: #EA5200;
    font-size: 18px;
}
.h3-3 {
    margin-left: 100px;
}
.h3-4 {
    margin-left: 100px;
}
.div-1{
    float: left;
    margin-left: 10%;
    width:40%;
}
.img-1{
    float: left;
    padding-top: 30px;
}
.bg-color{
    background-image: linear-gradient(rgba(238, 81, 8), black );
    height:100%;
    width: 100px;
    display: grid;
    justify-content: center;
}
.div-2{
    margin-left: 50px;
    width:38%;
   display: flex;
}
.img-2{
    float: left;
    padding-top: 30px;
}
.div-3{
    margin-top: 2%;
    margin-left: 12%;
    width:38%;
    float: left;
}
.img-3{
    float: left;
    padding-top: 30px;
}
.div-4{
    margin-left: 50px;
    margin-top: 2%;
    width:38%;
    float: left;
}
.img-4{
    float: left;
    padding-top: 30px;
} */
body{
    background-color: black;
    color: white;
}

.cont1{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}
.div-1{
    width: 45%;
    display: flex;
}
.bg-color{
    width: 20%;
    height: 100%;
    background-image: linear-gradient(rgb(255, 81, 0),black ,black);
 
}
.para{
    padding-left: 20px;
    width: 80%;
}
.img-1{
    margin-top: 20px;
    margin-left: 20%;
}
h3{
    color: rgb(255, 81, 0);
}