 table,tr,td{
    border-style: groove;
    border-width: 2px;
    border-color: blue; 
}
table{
    border-style: groove;
    background-color: aqua;
    text-align: center;
    background-color: aqua;
    width: 100%;
}
.color1{
    background-color:darkcyan;
}
.color2{
    background-color: chartreuse;
}
.col1{
    background-color:cornflowerblue;
}
.col2{
    background-color: crimson; 
}