body{
    background-color: rgb(20, 144, 226);
}
.hover-1{
    width: 80%;
    height: 500px;
    margin-left: 10%;
}
@keyframes move {
    0%{
        position: relative;  
        height: 0;
    }
    100%{
        position: relative;
        height: 500px;
    }    
}
.hover-1:hover .container{
    display: block;
    animation-name: move;
    animation-duration: 5s;
}
.container:hover .hover-1{
    display: none;
}
.container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    height: 550px;
}
p{
    margin-top: 50px;
    padding-top: 130px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 0px;
}
.div-1{
    width: 70%;
    margin-left: 15%;
    background-color: white;
    margin-top: 10px;
    display: none;
}
div{
    margin-top: 20px;
}
.date-1{
    margin-top: 25px;
}
.button-1{
    border: 1px groove rgb(5, 5, 107);
    background-color: rgb(5, 5, 107);
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
.choose-f{
    border: 1px groove grey;
    height: 25px;
}
.reset-1{
    border: 1px groove rgb(5, 5, 107);
    background-color: rgb(5, 5, 107);
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
.submit-1{
    
    border: 1px groove rgb(5, 5, 107);
    background-color: rgb(5, 5, 107);
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
.color-1{
    border: 1px groove rgb(5, 5, 107);
    background-color: rgb(5, 5, 107);
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}